<div class="trainer-page">
    <app-header></app-header>
    <h1>Your Pokemons:</h1>
    <div class="pokemon-container-div">
        <div class="pokemon-card" *ngFor="let pokemon of pokemons">
            <img class="pokemon-avatar" src="{{pokemon.imgUrl}}"/>
            <h3>{{pokemon.name}}</h3>
            <div class="pokemon-abilities">
                <h4>Abilities:</h4>
                <p *ngFor="let abilityInfo of pokemon.abilities">
                    {{abilityInfo.ability.name}}
                </p>
            </div>
        </div>
    </div>

</div>