<div class= "deck-page">
    <app-header></app-header>
    <h1>Pokemon's you can catch: </h1>
    <div class="pokemon-container-div">
        <button class="catch-pokemon-btn pokemon-card" [ngClass]="{'disabled': pokemon.catched}" *ngFor="let pokemon of pokemons" (click)="catchPokemon(pokemon)" [disabled]="pokemon.catched">
            <img class="pokemon-avatar" src="{{pokemon.imgUrl}}"/>
            <h3>{{pokemon.name}}</h3>
            <div class="pokemon-abilities">
                <h4>Abilities:</h4>
                <p *ngFor="let abilityInfo of pokemon.abilities">
                    {{abilityInfo.ability.name}}
                </p>
            </div>
            <img class="pokemon-ball" *ngIf="pokemon.catched" src="../../../../../assets/pokeball.png"/>
        </button>
    </div>
    <button class="btn-style" (click)="loadMorePokemons()" [disabled]="moreAvailable">Load more</button>
</div>