.deck-page {
  text-align: center;
}
.catch-pokemon-btn {
  border: outset white;
}
.catch-pokemon-btn:active {
  border: solid white;
}

.disabled {
  border: solid white;
}

.pokemon-ball {
  width: 30px;
  height: 30px;
}
