.login-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.login-form {
  margin: 20px auto;
  max-width: 200px;
  background-color: yellow;
  padding: 10px;
}

.login-form:focus-within {
  outline: auto;
}

.login-form-input {
  border: hidden;
  background-color: transparent;
  outline: none;
}

.login-form-btn {
  background-color: yellow;
  border: hidden;
  padding: 3px;
}
