<div class= "login-page">

    <h1>Login to catch Pokemon's</h1>
    <form #loginForm="ngForm" class="login-form" (ngSubmit)="loginUser(loginForm.value.userName)">
        <input 
        class="login-form-input"
        type=text
        name="userName"
        ngModel
        required
        placeholder="Write your name"
        />
        <button class="login-form-btn" type='submit' [disabled]="loginForm.form.invalid">
            ->
        </button>
    </form>


</div>