<header>
    <div class="header-style">
        <button class="btn-style" (click)="changePage('pokemon-deck')">Catch Pokemon's</button>
        <button class="btn-style" (click)="changePage('trainer')">Train</button>
        <h2>Pokemon trainer {{user.name}}</h2>
        <button class="btn-style" (click)="logOut()">Log out</button>
    </div>
    <hr/>
</header>