/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pokemon-container-div {
  display: grid;
  grid-template-columns: auto;
}

.pokemon-card {
  display: flex;
  margin: 10px auto 10px auto;
  background-color: yellow;
  min-width: 400px;
  max-width: 700px;
  padding: 20px;
  border: solid white;
  align-items: center;
}

.pokemon-avatar {
  width: 100px;
}

.pokemon-abilities {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
}

.btn-style {
  background-color: yellow;
  border: solid darkorange;
  border-radius: 3px;
  padding: 4px;
  margin: 5px;
}

.btn-style:active {
  border: inset darkorange;
}

p,
h1,
h2,
h3,
h4 {
  font-family: "Acme", sans-serif;
}
